.meals {
    margin: auto;
    padding: 5px;
    width: 90%;
    max-width: 50%;
    border-radius: 12px;
  
  }

  
  .meal-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 1rem;
    border: 1px solid brown;
    border-radius: 8px;
    background-color: antiquewhite;
   
  }
  .meal-item form{
    display: flex;
    justify-content: flex-end;
    
  }
  